<section id="sectionUpdate">
    <div id="modalAlertup" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" >Mensaje de alerta</h4>
                </div>
                <div class="modal-body">
                    <p class="mensaje">{{message}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" mdbBtn color="secondary" class="waves-light"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
  <div class="container text-center col-lg-5 col-md-6 mb-3">
  <!-- Material form contact -->
  <mdb-card>
      <mdb-card-header class="info-color white-text text-center py-4">
          <h4>
              <strong>Formulario de actualizacion</strong>
          </h4>
      </mdb-card-header>
      <!--Card content-->
      <mdb-card-body class="px-lg-5 pt-0">
          <!-- Form -->
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
              [mustMatch]="['password', 'Password2']" novalidate>
              <div class="form-row ">
                  <!-- First name -->
                  <div class="  md-form col-lg-6 col-md-6 mb-3">
                      <input mdbInput mdbValidate type="text" id="first_name" name="first" class="form-control required-entry validate-alpha "
                          [(ngModel)]="dataUser.firstName" #input_first_name="ngModel"  minlength="3"
                          maxlength="20"
                          pattern="[a-zA-Z ]*" 
                          (keypress)="restrictext($event)"
                      >
                      <label for="first_name">Nombre</label>
                      <mdb-error
                          *ngIf="input_first_name.invalid && (input_first_name.dirty || input_first_name.touched)">
                          invalido</mdb-error>
                  </div>
                  <!-- Last name -->
                  <div class="col md-form col-lg-6 col-md-6 mb-3">
                      <input mdbInput mdbValidate name="l_name" type="text" id="last_name" class="form-control"
                          [(ngModel)]="dataUser.lastName" #input_last_name="ngModel" required minlength="4"
                          maxlength="20" pattern="[a-zA-Z ]*"
                          (keypress)="restrictext($event)">
                      <label for="last_name">Apellido</label>
                      <mdb-error
                          *ngIf="input_last_name.invalid && (input_last_name.dirty || input_last_name.touched)">
                          invalido
                      </mdb-error>
                  </div>
              </div>
              <!-- TYPE DOCUMENT -->
              <div class="form-row ">
                  <div class="  col-lg-6 col-md-6 mb-3">
                      <span>Tipo de documento</span>
                      <select #selectdocument="ngModel" class="form-control" id="idSelectDocument" name="selec"
                          [(ngModel)]="dataUser.idTypeDocument" class="browser-default custom-select" >
                          <option *ngFor="let document of typeDocumentList" [value]="document.id">
                            {{ document.nombre_tipo }}
                        </option>
                      </select>
                      <mdb-error
                          *ngIf="selectdocument.invalid && (selectdocument.dirty || selectdocument.touched)">
                          invalido
                      </mdb-error>
                  </div>
                  <!-- DOCUMENT -->
                  <div class="md-form  col-lg-6 col-md-6 mb-3">
                      <input  mdbInput mdbValidate name="document" type="text" id="document" class="form-control"
                          [(ngModel)]="dataUser.document" #mini="ngModel" minlength="7" 
                          max="11"
                          pattern="[0-9]*" required
                          oninput=" if(this.value.length > this.max) 
                           {this.value = this.value.slice(0, this.max);}" 
                          (keypress)="restrictNumeric($event)">
                      <label for="mini">Documento</label>
                      <mdb-error *ngIf="mini.invalid && (mini.dirty || mini.touched)">invalido
                      </mdb-error>
                      
                  </div>
              </div>
              <!-- GENERO CELULAR -->
              <div class="form-row">
                  <div class=" col-lg-6 col-md-6 mb-3">
                      <span>Genero</span>
                      <select id="idSelectGender" #selectGender="ngModel" name="selecGender" 
                       [(ngModel)]="dataUser.gender"
                          class="browser-default custom-select"
                          >
                          <option *ngFor="let gender of genderList"
                          [value]="gender.domainGender">
                          {{ gender.nameGender }}</option>      
                      </select>
                      <mdb-error
                          *ngIf="selectGender.invalid && (selectGender.dirty || selectGender.touched)">
                          invalido
                      </mdb-error>
                  </div>
                  <!-- PHONE -->
                  <div class="md-form  col-lg-6 col-md-6 mb-3">
                      <input mdbInput mdbValidate name="phone" type="text" id="phone" class="form-control"
                          [(ngModel)]="dataUser.phone" #input_phone="ngModel" 
                          required  
                          minlength="7" 
                          maxlength="11"
                          pattern="[0-9]*"
                          oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                          (keypress)="restrictNumeric($event)">
                      <label for="input_phone">Celular</label>
                      <mdb-error *ngIf="input_phone.invalid && (input_phone.dirty || input_phone.touched)">
                          invalido</mdb-error>
                  </div>
              </div>
              <!-- EMAIL -->
              <div class="form-row ">
                  <div class="md-form container">
                      <input mdbInput mdbValidate name="Email" email type="email" id="Emailregister"
                          class="form-control" [(ngModel)]="dataUser.email" #input_Email="ngModel"
                           required maxlength="40">
                      <label for="Emailregister">Email </label>
                      <mdb-error *ngIf="input_Email.invalid && (input_Email.dirty || input_Email.touched)">El
                          campo debe llevar
                          @</mdb-error>
                      
                  </div>
              </div>
              <!--Contraseña-->
              <div class="form-row">
                  <div class="md-form  col-lg-6 col-md-6 mb-3">
                      <input mdbInput mdbValidate name="password" type="password" id="password"
                          class="form-control" [(ngModel)]="dataUser.password" #input_password="ngModel" required
                          maxlength="15" minlength="6">
                      <label for="password">contraseña </label>
                      <mdb-error
                          *ngIf="input_password.invalid && (input_password.dirty || input_password.touched)"> mas
                          de 6
                          caracteres
                      </mdb-error>
                   
                  </div>
                  <div class="md-form col-lg-6 col-md-6 mb-3">
                      <input mdbInput mdbValidate name="password2" type="password" id="password2"
                          class="form-control" [(ngModel)]="password" #input_password2="ngModel" required
                          maxlength="15" minlength="6">
                      <label for="password2">repetir contraseña </label>
                      <mdb-error
                          *ngIf="input_password2.invalid && (input_password2.dirty || input_password2.touched)">
                          mas de 6
                          caracteres
                      </mdb-error>
                     
                  </div>
              </div>

              <button mdbBtn color="info" outline="true" rounded="true" block="true"
              [disabled]="f.form.pristine || f.form.invalid" class="z-depth-0 my-4 waves-effect"
                  mdbWavesEffect type="submit">Actualizar</button>
          </form>
      </mdb-card-body>
  </mdb-card>
</div>
</section>