.viewjombotrom {
    background: url("../../assets/image/J1.jpg")no-repeat  center;
    background-size: cover;
    height: 90vh;
}

.view1 {
    background: url("../../assets/image/section.jpg")no-repeat  center;
    background-size: cover;
    height: 90vh;
}


.titulo {
    color: darkgoldenrod;
    font-family: 'Sofia';font-size: 60px;
}
