.view {
    background: url("../../assets/image/primaria.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh
}

.navbar-nav{
font-size: large;
}

.dropdown{
color: aliceblue;
font-size: large;
}
.page-footer{
    background-color: rgb(0, 0, 0)
}
.info{
    font-size: large;
    color:antiquewhite;
}

.mensaje{
    font-size: 18px;
}