<section id="SeccionConocenos">
<div data-aos="fade-right" class="  container col-md-10 ">
  <p class="titulo"> <strong> Mision</strong></p>
  <div data-aos="fade-left" class="container col-md-8  text-md-left ">
    <h5> <em> Ser la empresa de servicio de hospedaje, que brinda una experiencia de descanso, armonía y seguridad,
        dentro de un ambiente de cultura boyacense, logrando la preferencia de todos los potenciales clientes, superando
        siempre sus expectativas
      </em></h5>
  </div>
</div>
<hr style="border-color:darkgoldenrod" class="col-md-6">
<div data-aos="fade-right" class="  container col-md-10 ">
  <p class="titulo"> <strong> Vision</strong></p>
  <div data-aos="fade-left" class="container col-md-8  text-md-left ">
    <h5> <em>Para el año 2019 ser reconocidos como el hotel líder en el departamento de Boyacá, ser la mejor opción para
        la diversión y descanso en familia. Aportar el desarrollo de la región y generar estabilidad laboral a nuestros
        colaboradores que continuamente se esfuerzan para ofrecer la mejor calidad a nuestros visitantes </em></h5>
  </div>
</div>

<hr style="border-color:darkgoldenrod" class="col-md-6">
<div data-aos="fade-right" class="container col-md-10 ">
  <p class="titulo"> <strong> Valores</strong></p>
  <p class="titulo" style="font-size:45px;"> <strong> Servicio</strong></p>
  <div data-aos="fade-down" class="container col-md-8  text-md-left ">
    <h5> <em>Cuando la calidad de nuestros servicios logra satisfacer y exceder las expectativas de nuestros clientes, estamos cumpliendo con el objetivo de hacerles sentir que son el pilar principal en nuestro negocio </em></h5>
  </div>
  <p class="titulo" style="font-size:45px;"> <strong> calidez</strong></p>
  <div data-aos="fade-down" class="container col-md-8  text-md-left ">
    <h5> <em>Ofrecemos un trato  cuidado y amable, entregando  nuestra mejor actitud  para hacer sentir  a nuestros visitantes acogidos y apreciados </em></h5>
  </div>
  <p class="titulo" style="font-size:45px;"> <strong> Honestidad</strong></p>
  <div data-aos="fade-down" class="container col-md-8  text-md-left ">
    <h5> <em>Actuamos con coherencia y seriedad.  Respetando la verdad y la justicia, siendo sinceros y cuidadosos con nuestros clientes </em></h5>
  </div>
</div></section>